@font-face {
    font-family: "guemil_15picto";
    src: url("guemil15-picto-webfont.woff2") format("woff2"), url("guemil15-picto-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

b,
em,
strong,
dt {
    font-weight: 400;
    font-style: normal;
}

a {
    color: #004680;
}

h1 {
    font-size: 3.6rem;
    font-weight: 100;
}

h2 {
    font-size: 2.6rem;
    font-weight: 100;
}

h3,
h4,
h5,
h6,
th {
    font-weight: 300;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h5 sup {
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1.1rem;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    text-align: center;
    border-radius: 50% 50%;
    border: 1px solid #000;
    margin-right: 0.4rem;
    top: -0.3rem;
}

.text-white h5 sup {
    border: 1px solid #fff;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

small,
.small {
    font-weight: 300;
}

.card,
.card .card-img-top,
.card .card-body,
.card .card-header {
    border: none;
    border-radius: 0;
}

#glyph_chart .card {
    margin: 0 1px 1px 0;
}

#glyph_chart .card .card-body {
    text-align: center;
    font-family: "guemil_15picto", sans-serif;
    font-size: 1.75rem;
    padding: 0.6rem 0;
}

#glyph_chart .card .card-header {
    text-align: center;
    font: 300 0.75rem "Roboto", sans-serif;
    padding: 0.3rem 0;
}

th {
    background: #f0f1f2;
    font-size: 0.75rem;
}

.flex-column small {
    letter-spacing: 0.05rem;
}

.picto {
    font-family: "guemil_15picto", sans-serif;
    font-size: 2.4rem;
}

@keyframes colores {
    0% {
        color: #000000;
    }
    20% {
        color: #b00710;
    }
    40% {
        color: #f46d1f;
    }
    60% {
        color: #f7a600;
    }
    80% {
        olor: #00662c;
    }
    100% {
        color: #004680;
    }
}

.multicolor {
    animation: colores 12s infinite alternate;
}

#colores div.p-3 {
    min-height: auto;
}

@media (min-width: 576px) {
    #colores div.p-3 {
        min-height: 21rem;
    }
}

table.table-condensed th,
table.table-condensed td {
    border: 1px solid white;
}
